body {
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Roboto Condensed', sans-serif;
}
header {
    text-align: center;
    display: block;
    margin: 2rem auto 0 auto;}

main {
    background-color: rgb(59, 20, 95);
    opacity: 80%;
    width: 55%;
    margin: 0 auto 0 auto;
    border-radius: 4px;
    font-size: 24px;
}

form{
    padding: 1rem;
    margin:2rem;
}
.width{
    width: 90%;
    height: 2rem;
}
textarea{
    height: 6rem;
}
button{
    background-color: #37af65;
    color: white;
}
